body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5e6d3;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #8d6748;
  color: white;
  padding: 20px;
  text-align: center;
}


h1, h2, h3 {
  font-family: "Lucida Console", "Courier New", monospace;
} 

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #f5e6d3;
  font-weight: bold;
}

main {
  padding: 20px;
}

.image-frame {
  text-align: center;
  margin-top: 30px;
}

.portrait-img {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  border: 4px solid #555;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

figcaption {
  margin-top: 10px;
  font-style: italic;
  color: #666;
}


.circle-gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.circle-gallery img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #555;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
 
